.universal{
    position: absolute;
    display: flex;
    margin-left: 32vw;
    margin-top: 4rem;
    font-size: 3rem;
}

.universal2{
    position: absolute;
    display: flex;
    margin-left: 45vw;
    margin-top: 4rem;
    font-size: 3rem;
}

body {
    font-family: 'Pacifico', cursive;
}

.letra{
    animation-name: F;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes F{
    10%{
        color: red;
    }
    20%{
        color: orange;
    }
    30%{
        color: yellow;
    }
    40%{
        color: green;
    }
    50%{
        color: rgb(0, 191, 255);
    }
    60%{
        color: blue;
    }
    70%{
        color: purple;
    }
    80%{
        color: violet;
    }
    90%{
        color: pink;
    }
    100%{
        color: red;
    }
}

.fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 99vw;
    height: 99vh;
    object-fit: cover;
    z-index: -1;
}

letras{
    display: inline-block;
    animation: ola 1.5s infinite ease-in-out;
}

@keyframes ola {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(2rem);
    }
}

.mensaje{
    font-size: 40px;
    margin-top: 3vw;
    margin-left: 76vh;
}

.carta{
    margin-top: 4rem;
    overflow: hidden;
    width: 96%;
    margin-left: 1rem;
    font-size: 30px;
}

@media (max-width: 500px) {
    .letra{
        font-size: 30px;
    }
    .universal{
        margin-top: 4rem;
        margin-left: 0.1rem;
    }
    .universal2{
        margin-top: 4rem;
        margin-left: 7.3rem;
    }
    .mensaje{
        font-size: 2rem;
        margin-top: 10rem;
        margin-left: 1rem;
    }
}